{% extends "base.html" %}
{% block title %}Iuran Saya{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3><i class="bi bi-wallet"></i> Riwayat Iuran Saya</h3>

  {% if iurans %}
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-light">
      <tr>
        <th>Tanggal</th>
        <th>Jumlah</th>
      </tr>
    </thead>
    <tbody>
      {% for i in iurans %}
      <tr>
        <td>{{ i.tanggal.strftime('%d/%m/%Y') }}</td>
        <td>Rp {{ "{:,.0f}".format(i.jumlah) }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr class="table-light fw-bold">
        <td>Total</td>
        <td>Rp {{ "{:,.0f}".format(total) }}</td>
      </tr>
    </tfoot>
  </table>
  {% else %}
    <div class="alert alert-info">Belum ada data iuran.</div>
  {% endif %}
</div>
{% endblock %}
